<h1 class="text-center mt-3">Departamento CRUD</h1>

{{#if error }}
    <h2 class="text-center mt-1">No fue posible cargar la información, avise al equipo de soporte.</h2>

{{else}}
    <h2 class="text-center mt-1">Formulario de creación de departmentos.</h2>

    <section class="row justify-content-center">
    <form class="col-12 col-md-10 col-lg-8" id="formAddDepto">
        <label for="addNombre" class="form-label">Nombre:</label>
        <input type="text" id="addNombre" name="nombre" class="form-control" required>
        <label for="addCodigo" class="form-label">Código:</label>
        <input type="text" id="addCodigo" name="codigo" class="form-control" required>
        <button class="btn btn-primary mt-3">Crear Depto</button>
    </form>

</section>

<section>
    {{#if departamentos}}
        <h2 class="text-center py-3">Listado de departamentos en el sistema.</h2>
            <table class="table tableDepartamentos">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Código</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each departamentos}}
                        <tr>
                            <th scope="row">{{this.id}}</th>
                            <td>{{this.nombre}}</td>
                            <td>{{this.codigo}}</td>
                        </tr>
                    {{/each }}
                </tbody>
            </table>
    {{/if}}
</section>
{{/if}}

<section>
    <h2 class="text-center mt-3">Vincular usuarios con deptos.</h2>
    
    <form id="formVincularUsuariosDepto">
        <label for="departamentoId" class="form-label">Depto</label>
        <select name="departamentoId" id="departamentoId" class="form-control">
            {{#each departamentos}}
            <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
            
        <label for="usuarioId" class="form-label">Usuario</label>
        <select name="usuarioId" id="usuarioId" class="form-control">
            {{#each usuarios}}
            <option value="{{this.id}}">{{this.nombre}} {{this.apellido}}</option>
            {{/each}}
        </select>
        <input type="submit" class="btn btn-primary mt-2" value="Vincular">
    </form>
</section>



<script>

    // INICIO SCRIPT DE AGREGAR DEPARTAMENTOS

    let formAddDepto = document.getElementById("formAddDepto");

    formAddDepto.addEventListener("submit", async (event) => {
        event.preventDefault();

        try{
            const datos = new FormData(formAddDepto);
            let response = await fetch("/api/v1/departamentos",{
                method: "POST",
                body: datos
            });
            let result = await response.json();
            if(result.code == 201){
                alert(result.message);
                location.reload();
            }else{
                alert(result.message);
            }

        }catch(error){
            console.log(error);
            alert("Error al crear el nuevo departemento.")
        }
        
    })

    //FIN SCRIPT AGREGAR DEPARTAMENTOS


    //INICIO SCRIPT VINCULAR USUARIOS CON DEPARTMENTO

    let formVincularUsuariosDepto = document.getElementById("formVincularUsuariosDepto");


    formVincularUsuariosDepto.addEventListener("submit", async (event) => {
        event.preventDefault();
        try{

            if(!usuarioId.value || !departamentoId.value){
                return alert("No existen usuarios o departamentos para vincular.")
            }
            let data = new FormData(formVincularUsuariosDepto);

            let response = await fetch("/api/v1/departamentos/vincular", {
                method: "POST",
                body: data
            })

            let result = await response.json();

            if(result.code == 201){
                alert(result.message);
                location.reload();
            }else {
                alert(result.message);
            }
            
        }catch(error){
            alert("Error en formulario de vinculación de usuarios con depto.")
        }
    })

    //FIN SCRIPT VINCULAR USUARIOS CON DEPARTAMENTO

</script>