<h1 class="text-center py-5">P치gina detalle usuarios.</h1>

<section class="row justify-content-center">
    <form class="col-12 col-md-10 col-lg-8" id="formAddUsuario">
        <label for="addNombre" class="form-label">Nombre:</label>
        <input type="text" id="addNombre" name="nombre" class="form-control" required>
        <label for="addApellido" class="form-label">Apellido:</label>
        <input type="text" id="addApellido" name="apellido" class="form-control" required>
        <label for="addEmail" class="form-label">Email:</label>
        <input type="email" id="addEmail" name="email" class="form-control" required>
        <label for="addDireccion" class="form-label">Direccion:</label>
        <input type="text" id="addDireccion" name="direccion" class="form-control" required>
        <label for="addComuna" class="form-label">Comuna:</label>
        <input type="text" id="addComuna" name="comuna" class="form-control" required>
        <label for="addCiudad" class="form-label">ciudad:</label>
        <input type="text" id="addCiudad" name="ciudad" class="form-control" required>
        <button class="btn btn-primary mt-3">Crear usuario</button>
    </form>

</section>

{{#if error}}

    <h2 class="text-center py-3">Lo siento, pero no se han podido mostrar los usuarios, intente m치s tarde</h2>

{{else}}
    {{#if usuarios}}
        <h2 class="text-center py-3">Listado de usuarios en el sistema.</h2>
            <table class="table tableUsuarios">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Modificar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each usuarios}}
                        <tr>
                            <th scope="row">{{this.id}}</th>
                            <td>{{this.nombre}}</td>
                            <td>{{this.apellido}}</td>
                            <td>{{this.email}}</td>
                            <td><a href="/detalles/usuario/{{this.id}}" class="btn btn-info">Ver detalles</a></td>
                            <td><button class="btn btn-warning" data-id="{{this.id}}" data-nombre="{{this.nombre}}" data-apellido="{{this.apellido}}"  data-email="{{this.email}}" data-bs-toggle="modal" data-bs-target="#updateModal">Modificar</button></td>
                            <td><button class="btn btn-danger" data-id="{{this.id}}">Eliminar</button></td>
                        </tr>
                    {{/each }}
                </tbody>
            </table>
    {{else}}
        <h2 class="text-center py-3">No existen usuarios por mostrar</h2>
    {{/if}}

{{/if }}


<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">UPDATE USUARIO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formUpdateUsuario">
            <label for="updateId" class="form-label">ID:</label>
            <input type="number" id="updateId" name="id" class="form-control" disabled required>
            <label for="updateNombre" class="form-label">Nombre:</label>
            <input type="text" id="updateNombre" name="nombre" class="form-control" required>
            <label for="updateApellido" class="form-label">Apellido:</label>
            <input type="text" id="updateApellido" name="apellido" class="form-control" required>
            <label for="updateEmail" class="form-label">Email:</label>
            <input type="email" id="updateEmail" name="email" class="form-control" required>
        <button class="btn btn-primary mt-3">Actualizar</button>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    let formAddUsuario = document.getElementById("formAddUsuario");

//INICIO SCRIPT PARA CREAR NUEVOS USUARIOS
    formAddUsuario.addEventListener("submit", (event) => {
        event.preventDefault();

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "nombre": addNombre.value,
            "apellido": addApellido.value,
            "email": addEmail.value,
            "direccion": addDireccion.value,
            "comuna": addComuna.value,
            "ciudad": addCiudad.value
        });

        const requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("/api/v1/usuarios", requestOptions)
        .then(response => response.json())
        .then(result => {
            if(result.code == 201){
                alert(`Mensaje: ${result.message}\nID nuevo usuario: ${result.data.id}`);
                location.reload();
            }else{
                alert(result.message)
            }
        })
        .catch(error => console.log('error', error));
            })
//FIN SCRIPT PARA CREAR NUEVOS USUARIOS


//INICIO SCRIPT PARA ELIMINAR USUARIOS
let botonesEliminar = document.querySelectorAll(".tableUsuarios .btn-danger");
botonesEliminar = [...botonesEliminar];

botonesEliminar.forEach(boton => {
    boton.addEventListener("click", (event) => {
        let id = boton.dataset.id;

        let confirmacion = confirm("Est치s seguro que deseas eliminar el registro con ID: " + id)

        if(!confirmacion){
            return false;
        }
        const requestOptions = {
            method: 'DELETE',
            redirect: 'follow'
        };

        fetch("/api/v1/usuarios/"+id, requestOptions)
            .then(response => response.json())
            .then(result => {
                if(result.code){
                    alert(result.message)
                    location.reload();
                }else{
                    alert(result.message)
                }
            })
            .catch(error => console.log('error', error));
        })
})

//FIN SCRIPT PARA ELIMINAR USUARIOS




//INICIO SCRIPT PARA ACTUALIZAR USUARIOS

let botonesUpdate = document.querySelectorAll(".tableUsuarios .btn-warning");
botonesUpdate = [...botonesUpdate];

botonesUpdate.forEach(boton => {
    boton.addEventListener("click", () => {
        let {id, nombre, apellido, email} = boton.dataset;
        updateId.value = id;
        updateNombre.value = nombre;
        updateApellido.value = apellido;
        updateEmail.value = email;
    })
})


let formUpdateUsuario = document.getElementById("formUpdateUsuario");

formUpdateUsuario.addEventListener("submit", (event)=>{
    event.preventDefault();

    let confirmacion = confirm("Est치s seguro que deseas actualizar el registro con ID: " + updateId.value)

        if(!confirmacion){
            return false;
        }

    const myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    const raw = JSON.stringify({
        "email": updateEmail.value,
        "nombre": updateNombre.value,
        "apellido": updateApellido.value
    });

    const requestOptions = {
        method: 'PUT',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
    };

    fetch("/api/v1/usuarios/"+updateId.value, requestOptions)
    .then(response => response.json())
    .then(result => {
        if(result.code == 201){
            alert(result.message); 
            location.reload();
        }else{
            alert(result.message)
        }
    })
    .catch(error => console.log('error', error));


})
//FIN SCRIPT PARA ACTUALIZAR USUARIOS
</script>